.filter-group {
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top:15px;
      padding-left:5px;
      padding-right:5px;
}

.filter-group .profiles-menu {
    margin-top:0px;
    margin-left:-5px;
    margin-right:-5px;
    background-color: #f2f1f7;
    border-top-right-radius: 7px;
}

.icon-groups a{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.icon-groups .edit-icon {
    background: url('../../../../images/edit.png') no-repeat;
}

.icon-groups .remove-icon {
    background: url('../../../../images/remove.png') no-repeat;
}

.notifications-row input[type=checkbox] {
    margin-left: 20px;
}

.icon-groups .clone-icon {
    
    background: url(../../../../images/Upload/Profile/clone.png) no-repeat;
}