
.ips-icon-management:before { content: '\e800'; } /* '' */
.ips-icon-dashboard:before { content: '\e801'; } /* '' */
.ips-icon-department:before { content: '\e802'; } /* '' */
.ips-icon-industry:before { content: '\e803'; } /* '' */
.ips-icon-customer:before { content: '\e804'; } /* '' */
.ips-icon-organization:before { content: '\e805'; } /* '' */
.ips-icon-role:before { content: '\e806'; } /* '' */
.ips-icon-security:before { content: '\e807'; } /* '' */
.ips-icon-user:before { content: '\e808'; } /* '' */
.ips-icon-notification:before { content: '\e809'; } /* '' */
.ips-icon-task-setting:before { content: '\e80a'; } /* '' */
.ips-icon-new-task:before { content: '\e80b'; } /* '' */
.ips-icon-team:before { content: '\e80c'; } /* '' */
.ips-icon-confirm:before { content: '\e80d'; } /* '' */
.ips-icon-group:before { content: '\e80e'; } /* '' */
.ips-icon-training:before { content: '\e80f'; } /* '' */
.ips-icon-project-setup:before { content: '\e810'; } /* '' */
.ips-icon-settings:before { content: '\e811'; } /* '' */
.ips-icon-profile-management:before { content: '\e812'; } /* '' */
.ips-icon-sales-prospecting-management:before { content: '\e813'; } /* '' */
.ips-icon-task:before { content: '\e814'; } /* '' */
.ips-icon-new-project:before { content: '\e815'; } /* '' */
.ips-icon-plan-1:before { content: '\e816'; } /* '' */
.ips-icon-soft-profile:before { content: '\e817'; } /* '' */
.ips-icon-knowledge-profile:before { content: '\e818'; } /* '' */
.ips-icon-new-soft-profile:before { content: '\e819'; } /* '' */
.ips-icon-completed-profile:before { content: '\e81a'; } /* '' */
.ips-icon-expired-profile:before { content: '\e81b'; } /* '' */
.ips-icon-historic-profile:before { content: '\e81c'; } /* '' */
.ips-icon-active-profile:before { content: '\e81d'; } /* '' */
.ips-icon-plan:before { content: '\e81e'; } /* '' */
.ips-icon-service-prospecting-management:before { content: '\e81f'; } /* '' */
.ips-icon-pass-score:before { content: '\e820'; } /* '' */
.ips-icon-performance:before { content: '\e821'; } /* '' */
.ips-icon-profile-setup:before { content: '\e822'; } /* '' */
.ips-icon-skills:before { content: '\e823'; } /* '' */
.ips-icon-summary:before { content: '\e824'; } /* '' */
.ips-icon-history:before { content: '\e825'; } /* '' */
.ips-icon-participants:before { content: '\e826'; } /* '' */
.ips-icon-user-1:before { content: '\e827'; } /* '' */
.ips-icon-status-performance:before { content: '\e828'; } /* '' */
.ips-icon-training-templates:before { content: '\e829'; } /* '' */
.ips-icon-goal:before { content: '\e82a'; } /* '' */
.ips-icon-personal-training:before { content: '\e82b'; } /* '' */
.ips-icon-training-setting:before { content: '\e82c'; } /* '' */
.ips-icon-corporate-training:before { content: '\e82d'; } /* '' */
.ips-icon-mission:before { content: '\e82e'; } /* '' */
.ips-icon-add-file:before { content: '\e82f'; } /* '' */
.ips-icon-add-sales:before { content: '\e830'; } /* '' */
.ips-icon-activity:before { content: '\e831'; } /* '' */
.ips-icon-run:before { content: '\e832'; } /* '' */
.ips-icon-play:before { content: '\e833'; } /* '' */
.ips-icon-profile-training:before { content: '\e834'; } /* '' */
.ips-icon-upcoming:before { content: '\e835'; } /* '' */
.ips-icon-complete:before { content: '\e836'; } /* '' */
.ips-icon-personal-task:before { content: '\e837'; } /* '' */
.ips-icon-search:before { content: '\e838'; } /* '' */
.ips-icon-upcoming-1:before { content: '\e839'; } /* '' */
.ips-icon-service:before { content: '\e83a'; } /* '' */
.ips-icon-talk:before { content: '\e83b'; } /* '' */
.ips-icon-todays-activity:before { content: '\e83c'; } /* '' */
.ips-icon-upcoming-2:before { content: '\e83d'; } /* '' */
.ips-icon-call:before { content: '\e83e'; } /* '' */
.ips-icon-kpi:before { content: '\e83f'; } /* '' */
.ips-icon-meeting:before { content: '\e840'; } /* '' */
.ips-icon-personal-task-1:before { content: '\e841'; } /* '' */
.ips-icon-activity-result:before { content: '\e842'; } /* '' */
.ips-icon-result:before { content: '\e843'; } /* '' */
.ips-icon-presentation:before { content: '\e844'; } /* '' */
.ips-icon-cor-task:before { content: '\e845'; } /* '' */
.ips-icon-measure:before { content: '\e846'; } /* '' */
.ips-icon-analysis:before { content: '\e847'; } /* '' */
.ips-icon-sales-goal:before { content: '\e848'; } /* '' */
.ips-icon-service-goal:before { content: '\e849'; } /* '' */
.ips-icon-offers:before { content: '\e84a'; } /* '' */
.ips-icon-start:before { content: '\e84b'; } /* '' */
.ips-icon-email:before { content: '\e84c'; } /* '' */
.ips-icon-template:before { content: '\e84d'; } /* '' */
.ips-icon-permission:before { content: '\e84e'; } /* '' */
.ips-icon-view:before { content: '\e84f'; } /* '' */
.ips-icon-level:before { content: '\e850'; } /* '' */