<div pane name="cmsmanage"  ng-init="getAllPages()">
    <div class="row" >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="return-menu">
                <a ng-click="getscopes()" class="newhead title fa fa-long-arrow-left"></a>
                <a class="addOrg" href="#/home/cms/add">+ {{'CMS_ADD_NEW_PAGE' | translate }}</a>
                <h1 class="title newhead">{{'CMS_CMS_PAGES' | translate }}</h1>




                <div class="top-border"></div>
            </div>
            <input type="text" placeholder="Search your Page Here...." ng-model="pageFilter" class="form-control search-input_left">
            <!--<div class="organizations-menu">
                       <img src="images/organization/organization-icon.png" />
                       <span>Organizations</span>

                    </div>-->
            <div class="chart-loading"></div>

            <!--<div kendo-grid k-options="gridOptions" k-rebind="gridOptions.selectable" ></div>
              <button ng-click="addNewOrganization()" class="btn btn-cstm primary pull-right">Add Organization</button>-->
            <table class="k-selected table" kendo-grid >

                <thead role="rowgroup" >
                <tr role="row" class="tabHead">
                    <th role="columnheader" data-field="rowNumber" rowspan="1" data-title="#" data-index="0" class="k-header ng-scope" data-role="columnsorter">#<a  ng-click="sortById=(sortById=='pageId')?'-pageId':'pageId'" style="margin-left:80%;cursor:pointer;"><i class="fa {{(sortById=='pageId')?' fa-angle-down':' fa-angle-up'}}"></i></a></th>
                    <th role="columnheader" data-field="logo" rowspan="1" data-title="Logo" data-index="1" class="k-header ng-scope" data-role="columnsorter">{{'COMMON_TITLE' | translate }}<a ng-click="sortByTitle=(sortByTitle=='title')?'-title':'title'" style="margin-left:80%;cursor:pointer;"><i class=" fa {{(sortByTitle=='title')?' fa-angle-down':' fa-angle-up'}}"></i></a></th>
                    <th role="columnheader" data-field="name" rowspan="1" data-title="Name" data-index="2" class="k-header ng-scope" data-role="columnsorter">{{'CMS_META_TITLE' | translate }}<a ng-click="sortByMetaTitle=(sortByMetaTitle=='metaTitle')?'-metaTitle':'metaTitle'" style="margin-left:60%;cursor:pointer;"><i class="fa {{(sortByMetaTitle=='metaTitle')?'fa-angle-down':'fa-angle-up'}}"></i></a></th>
                    <th role="columnheader" data-field="industryName" rowspan="1" data-title="Industry" data-index="3" class="k-header ng-scope" data-role="columnsorter">{{'CMS_HEADING' | translate }}<a ng-click="sortByHeading=(sortByHeading=='heading')?'-heading':'heading'" style="margin-left:60%;cursor:pointer;"><i class="fa {{(sortByHeading=='heading')?'fa-angle-down':'fa-angle-up'}}"></i></a></th>
                    <th role="columnheader" data-field="contactName" rowspan="1" data-title="Contact Name" data-index="5" class="k-header ng-scope" data-role="columnsorter">{{'COMMON_ACTION' | translate }}</th>
                </tr>
                </thead>
                <tbody></tbody>
				<tbody class="newtbody">
                <tr class='oraganization-row' ng-class="(dataItem.pageID==pageId)?'k-state-selected':''" ng-click="pageId=dataItem.pageID"  data-uid='{{dataItem.pageID}}' dir-paginate="dataItem in pages | filter:pageFilter | itemsPerPage:10 |orderBy:[sortById,sortByTitle,sortByMetaTitle,sortByHeading]" >
                    <td><span class='row-number'>{{$index+1}}</span></td>
                    <td class='org-logo'>{{dataItem.title}}</td>
                    <!--<td class='org-name'>{{dataItem.name}}</td>-->
                    <td>{{dataItem.metaTitle}}</td>
                    <td>{{dataItem.heading}} </td>
                    <td><a class="tab_edit"><i style="cursor: pointer;" class="fa fa-pencil" ng-click="transferEdit(dataItem.pageID)"></i></a><a class="tab_delete"><i class="fa fa-trash" style="cursor: pointer;"  ng-click="removePage(dataItem.pageID)"></i></a></td>
                    <!-- //<td>
                         //<div class='icon-groups'><a class='icon-groups icon-groups-item view-icon' ng-click='getOrganizationDetails(dataItem.id)' ></a></div>
                         //<div class='icon-groups'><a class='icon-groups icon-groups-item edit-icon' ng-click='editOrganization(dataItem.id)' ></a></div>
                        // </td>-->
                </tr>

                </tbody>

            </table><dir-pagination-controls boundary-links="true"  ></dir-pagination-controls>
        </div>

    </div>
</div>
<span kendo-notification="notificationSavedSuccess" k-options="notificationOptions"></span>

<div ui-view></div>
