.mt-actions .mt-action .mt-action-img > img {
    height: 40px;
}

.mt-comments .mt-comment .mt-comment-img > img {
    height: 40px;
}

.dashboard-stat2 {
    cursor: pointer;
}

.scale-circle {
    width: 15px;
    height: 15px;
    /*margin: 0 auto;*/
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50% !important;
    display: block;
}

    .scale-circle.weak {
        background: #ed1c24 !important;
    }

    .scale-circle.strong {
        background: #22b14c !important;
    }

.memeber-activities .user-pic {
    height: 40px;
    width: 40px;
}
