/* ips-Login*/
.ips-glyphicon-ChangePassword{

    background-color: rgba(37, 160, 191, 1.0);
     color: #ffffff;
}

.left-inner-addon {
    margin-bottom: 25px;

}
.left-inner-addon input {
    padding-left: 50px;    
    margin-left: 1px;
    
   
}
.left-inner-addon i {
    position: absolute;
    padding: 15px 12px;
    pointer-events: none;
    margin-left: 2px;
    margin-bottom: 2px;
}

.left-inner-addon i.LeftRound {
border-bottom-left-radius: 7px;    
border-top-left-radius: 7px;
}

.input-group{
    margin-bottom: 25px;
}

#btn-signup {
    width:100%;
    margin-bottom: 10px;
}

