<div pane name="todo">
    <div class="row">
        <div class="col-sm-12 return-menu">
            <a ng-click="goBack()" class="newhead title fa fa-long-arrow-left"></a>
            <h1 class="title">{{'CALENDER_YOUR_CALENDER' | translate }}</h1>
            <div class="top-border"></div>
        </div>

        <div class="col-sm-12">

            <div class="calendar-menu">
                <span class="fa fa-calendar fa_cal"></span><span class="calText"> {{'CALENDER_CALENDER' | translate }}</span>
            </div>
            <script id="event-template" type="text/x-kendo-template">
                <div title="Task :  #: title # , Training:   #if(trainingId) {# #: training.name # #}#">
                    <a href="\#/home/todos/todos/edit/#= id #">#: title #</a>
                    #if(trainingId){#
                    (
                    <a href="\#/home/profiles/profiles/soft/trainings/edit/#= trainingId #">#: training.name #</a>)
                    #}#
                </div>
            </script>

            <div id="taskCalendar"></div>
        </div>


        <div id="trainingFeedbackModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">{{'TASKMANAGEMENT_FEEDBACK' | translate }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label">{{'COMMON_RATE_YOUR_TRAINING_RESULTS_BASED_ON_5_STARS' | translate }}</label>

                                            <div class="form-group">
                                                <ul id="stars" class="select-group">
                                                    <li ng-repeat="rate in ratings" ng-mouseover="starMouseHover($event)" ng-mouseleave="starMouseOut($event)" ng-click="starClick($event)" class="star">
                                                        <label data-value="{{rate.value}}" class="fa fa-star fa-fw" for="rate{{rate.value}}">
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">{{'COMMON_DESCRIBE_YOUR_RATING' | translate }}: {{'COMMON_WHAT_WORKED_WELL' | translate }}</label>
                                                <textarea type="text" class="form-control" ng-model="training.workedWell" name="workedWell" required />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">{{'COMMON_DESCRIBE_YOUR_RATING' | translate }}: {{'COMMON_WHAT_WORKED_NOT_WELL' | translate }}</label>
                                                <textarea type="text" class="form-control" ng-model="training.workedNotWell" name="workedNotWell" required />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">{{'COMMON_WHAT_WILL_YOU_DO_NEXT_TIME' | translate }}</label>
                                                <textarea type="text" class="form-control" ng-model="training.whatNextDescription" name="WhatNextDescription" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">{{'COMMON_SPENT' | translate }}</label>
                                            <div ng-duration ng-model="training" ng-property="timeSpentMinutes"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <button class="btn btn-cstm primary cancel pull-right" ng-click="cancelTraningFeedback()" data-dismiss="modal" aria-label="Close">{{'COMMON_NO' | translate }}</button>
                                    <button class="btn btn-cstm primary pull-right" ng-click="saveTraningFeedback()" data-dismiss="modal" aria-label="Ok" ng-disabled="finalKPIForm.$invalid">{{'COMMON_YES' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<span kendo-notification="notificationSavedSuccess" k-options="notificationOptions"></span>
<div ui-view></div>
