<div pane>
    <form name="editIndustry">
        <div class="row">
            <div class="col-md-12">
                
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-cstm pull-right" data-original-title="" title="" ng-click="save()" ng-disabled="editIndustry.$invalid">Save</button>
            </div>
        </div>
    </form>
</div>
<span kendo-notification="notificationSavedSuccess" k-options="notificationOptions" ></span>
<div ui-view></div>