<div class="col-sm-12 return-menu hide">
    <a class="newhead title fa fa-long-arrow-left" ng-click="goBack()"></a>
    <h1 class="title">{{pageName}}</h1>
    <div class="top-border"></div>
</div>

<section class="portlet-light header-blue">
    <div class="row">
        <div class="col-md-12">
            <div class="caption caption-md">
                <a class="newhead title fa fa-long-arrow-left" ng-click="goBack()"></a>
                <span class="caption-subject box-title ng-binding"> {{pageName}} </span>
            </div>
        </div>
    </div>
</section>