
<div class="clearfix">
    <section class="portlet-light header-blue">
        <div class="row">
            <div class="col-md-12">
                <div class="caption caption-md">
                    <span class="caption-subject box-title">
                        <a href="javascript:;">{{'MYPROJECTS_ACTIVE_PROJECTS' | translate }}</a>
                    </span>
                </div>
            </div>
        </div>
    </section>


    <section class="portlet-light portlet-light-box">
        <div class="row">
            <div class="col-md-12">
                <div class="active-projects-grid" kendo-grid k-options="activeProjectsOptions"></div>
            </div>
        </div>
    </section>
</div>

<div ui-view></div>