<div>
    <section class="portlet-light header-blue">
        <div class="row">
            <div class="col-md-12">
                <div class="caption caption-md">
                    <span class="caption-subject box-title">
                        <a href="javascript:;">{{'COMMON_HISTORY' | translate }}</a>
                    </span>
                </div>
            </div>
        </div>
    </section>


    <section class="portlet-light portlet-light-box">
        <div class="row">
            <div class="col-md-12">
                <div class="project-history-grid" kendo-grid k-options="historyOptions"></div>
            </div>
        </div>
    </section>
</div>