<div class="clearfix">
    <section class="portlet-light header-blue">
        <div class="row">
            <div class="col-md-12">
                <div class="caption caption-md">
                    <span class="caption-subject box-title">
                        <a href="javascript:;">{{'MYPROJECTS_PENDING_PROJECTS' | translate }}</a>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section class="portlet-light portlet-light-box">
        <div class="row">
            <div class="col-md-12">
                <div id="pending-projects-grid" class="pending-projects-grid" kendo-grid k-options="pendingProjectsOptions"></div>
            </div>
        </div>
    </section>
</div>