<section class="portlet-light header-blue">
    <div class="row">
        <div class="col-md-12">
            <div class="caption caption-md">
                <span class="caption-subject box-title">
                    <a href="javascript:;">{{'MYPROFILES_EXPIRED_PROFILES' | translate }}</a>
                </span>
            </div>
        </div>
    </div>
</section>

<section class="portlet-light portlet-light-box">
    <div class="row">
        <div class="col-md-12">
            <div class="expired-profiles-grid" kendo-grid k-options="expiredProfilesOptions"></div>
        </div>
    </div>
</section>
