.dark {
    color: #000000 !important;
}

.black {
    color: #000000 !important;
}

.lightex {
    color: #ffffff !important;
}

.theme-color {
    color: #ff6e19 !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pl-1 {
    padding-left: 15px !important;
}

.ml-1 {
    margin-left: 10px !important;
}

.pt-1 {
    padding-top: 5px;
}

.pt-2 {
    padding-top: 13px;
}

.m-0 {
    margin: 0px !important;
}

.nav-tabs {
    border-bottom: 2px solid #ddd;
}

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        border-width: 0;
        border: none;
    }

    .nav-tabs > li > a {
        border: none;
        color: #000000;
        transition: 0.5s;
        background: #ffffff;
    }

        .nav-tabs > li.active > a,
        .nav-tabs > li > a:hover {
            border: none;
            color: #ffffff !important;
            background: #ff6e19 !important;
            font-size: 16px;
            font-weight: 600;
            box-shadow: none !important;
        }

.new-soft-profile-tab .nav-tabs li a {
    padding: 15px;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
    min-height: 72px;
    margin-right: 9px;
    color: #777777;
    text-transform: uppercase;
    box-shadow: -1px 3px 35px 4px #d8d8d8;
    border: none !important;
    transition: 0.5s;
}
/* .nav-tabs > li > a::after {
    content: "";
    background: #ff7829;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
  } */
.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: #5a4080 none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding-top: 30px;
}

.nav-tabs > li {
    width: 33.33%;
    text-align: center;
}

.card {
    background: #fff none repeat scroll 0% 0%;
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); */
    margin-bottom: 30px;
}

body {
    background: #edecec;
    padding: 50px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border: none;
}

@media all and (max-width: 724px) {
    .nav-tabs > li > a > span {
        display: none;
    }

    .nav-tabs > li > a {
        padding: 5px 5px;
    }
}

.process-step .btn-process {
    background-color: #ffffff !important;
    color: #757575 !important;
    border: none !important;
    font-size: 22px;
    border-radius: 50px !important;
    box-shadow: 4px 3px 11px 3px #e6e6e6 !important;
    border: 1px solid #eaeaea !important;
}

    .process-step .btn-process:hover {
        background-color: #ff6e19 !important;
        color: #ffffff !important;
        box-shadow: none !important;
        transition: 0.5s;
    }

.process-step .btn:focus {
    outline: none;
}

.process {
    display: table;
    width: 100%;
    position: relative;
}

.process-row {
    display: table-row;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-row:before {
    top: 29%;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 69%;
    height: 2px;
    background-color: #ececec;
    left: 13%;
}

.process-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

    .process-step p {
        margin-top: 17px;
        font-weight: 600;
        font-size: 15px;
    }

.btn-circle {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 12px;
}

.nav-tabs {
    border: none !important;
}

.middleText {
    display: table-cell;
    vertical-align: middle;
}

.progress-outer {
    /* background: #fff;
    border-radius: 50px;
    padding: 25px;
    margin: 10px 0;
    box-shadow: 0 0  10px rgba(209, 219, 231,0.7); */
}

.progress {
    height: 27px;
    margin: 0;
    overflow: visible;
    border-radius: 50px;
    background: #eaedf3;
    box-shadow: inset 0 10px 10px rgba(244, 245, 250, 0.9);
}

    .progress .progress-bar {
        border-radius: 50px;
    }

    .progress .progress-value {
        position: relative;
        left: -45px;
        top: -2px;
        font-size: 13px;
        color: #fff;
        letter-spacing: 2px;
    }

.progress-bar.active {
    animation: reverse progress-bar-stripes 0.4s linear infinite, animate-positive 2s;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}

.progress .bg-success {
    background-color: #51a060;
}

.task-progress .progress {
    height: 16px !important;
    border-radius: 110px !important;
}

.cstm-dark-bg h3 {
    box-shadow: 8px 3px 12px -9px #001;
    /* background-color: #eaeaea; */
    padding: 12px;
    font-size: 16px;
    color: left;
    border: 1px solid #eaeaea;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
}

.middleText {
    padding-top: 22px !important;
}

.collapse-light-title {
    background-color: #eef1f5 !important;
    border: none !important;
    color: #000000 !important;
}

textarea {
    resize: none;
}

.collapse-light-box {
    border: none !important;
}

.bootstrapWizard {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%;
}

    .bootstrapWizard a:hover,
    .bootstrapWizard a:active,
    .bootstrapWizard a:focus {
        text-decoration: none;
    }

    .bootstrapWizard li {
        display: block;
        float: left;
        width: 25%;
        text-align: center;
        padding-left: 0;
    }

        .bootstrapWizard li:before {
            border-top: 1px solid #cacaca;
            content: "";
            display: block;
            font-size: 0;
            overflow: hidden;
            position: relative;
            top: 19px;
            right: 1px;
            width: 100%;
            z-index: 1;
        }

        .bootstrapWizard li:first-child:before {
            left: 50%;
            max-width: 50%;
        }

        .bootstrapWizard li:last-child:before {
            max-width: 50%;
            width: 50%;
        }

        .bootstrapWizard li.complete .step {
            background: #0aa66e;
            padding: 1px 6px;
            border: 3px solid #55606e;
        }

        .bootstrapWizard li .step i {
            font-size: 30px;
            font-weight: 400;
            position: relative;
            top: 5px;
        }

        .bootstrapWizard li .step {
            background: #b2b5b9;
            color: #fff;
            display: inline;
            font-size: 17px;
            font-weight: 700;
            padding: 20px 14px;
            border: 3px solid #e4e4e4;
            border-radius: 0%;
            position: relative;
            z-index: 2;
        }

        .bootstrapWizard li.active .step,
        .bootstrapWizard li.active.complete .step {
            background: #ff6e19;
            color: #fff;
            transition: 0.2s;
            font-weight: 700;
            padding: 23px 15px;
            font-size: 15px;
            border-radius: 50% !important;
            border: 3px solid #e4e4e4;
        }

        .bootstrapWizard li.complete .title,
        .bootstrapWizard li.active .title {
            color: #545454;
            font-weight: 600;
        }

        .bootstrapWizard li .title {
            display: block;
            font-size: 16px;
            line-height: 22px;
            max-width: 100%;
            position: relative;
            table-layout: fixed;
            text-align: center;
            top: 40px;
            color: #b2b5b9;
            word-wrap: break-word;
            z-index: 104;
        }

.wizard-actions {
    display: block;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%;
}

    .wizard-actions li {
        display: inline;
    }

.tab-content.transparent {
    background-color: transparent;
}

.bootstrapWizard {
    justify-content: center;
    display: flex;
    right: 20px;
}

/*End Wizard*/

.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td,
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-grid td.k-state-selected,
.k-grid td.k-state-selected.k-state-focused,
.k-grid tr.k-state-selected,
.k-listview > .k-state-selected,
.k-marquee-color,
.k-scheduler .k-today.k-state-selected,
.k-scheduler-layout .k-state-selected,
.k-state-selected.k-line {
    background-color: transparent !important;
    border: none !important;
    color: #000000 !important;
}

.tab-header {
    background-color: #eef1f5;
}

    .tab-header h3 {
        color: #000;
        font-size: 18px;
        margin: 5px 0px;
        padding: 10px;
        font-weight: 500;
    }

/*.btn-cstm {
    margin: -14px;
    padding: 5px 10px;
}*/

.tab-search a {
    background-color: #007CFF;
    padding: 8px 11px;
    /*margin: 7px 0px;*/
    color: #fff;
    float: left;
    border-radius: 72px !important;
}

    .tab-search a:hover {
        background-color: #006fe5 !important;
        color: #ffffff;
    }

    .tab-search a:focus {
        color: #ffffff;
    }

.modal-footer {
    text-align: left !important;
    padding: 25px 30px 20px !important;
    border-top: none !important;
}

.modal-title {
    margin: 0;
    line-height: 1.42857;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.modal .pop-up-header .close-popup {
    margin-top: -16px;
}

.modal .modal-header {
    background-color: #ff6e19;
    border-bottom: none;
}

.grid-overflow {
    max-height: 550px;
    overflow: auto;
}

.k-calendar .k-header .k-link {
    background-color: #ff6e19 !important;
}

.k-calendar > .k-header .k-link.k-state-hover {
    background-color: #ff6e19 !important;
}

.k-calendar td.k-state-selected .k-link {
    background-color: #ff6e19 !important;
}

.k-calendar > .k-header {
    background-color: #ff6e19 !important;
}

    .k-calendar > .k-header .k-link.k-state-hover {
        background-color: #ff6e19 !important;
    }

.k-calendar .k-footer .k-nav-today {
    color: #000000 !important;
}

.k-datetimepicker .k-select .k-link {
    border: 1px solid;
    background-color: #949494;
    color: #ffffff;
}

    .k-datetimepicker .k-select .k-link:hover {
        background-color: #ff6e19;
    }

.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#add-product .title {
    font-size: 16px;
    color: #fff;
    background-color: #1e88e5;
    padding: 20px 30px;
    margin: 0;
}

/* #fieldlist {
 margin: 0 0 -1.5em;
 padding: 30px;
}

#fieldlist li {
 list-style: none;
 padding-bottom: 1.5em;
}

#fieldlist label {
 display: block;
 padding-bottom: .6em;
 font-weight: bold;
 text-transform: uppercase;
 font-size: 12px;
}

#fieldlist label .k-numerictextbox {
 font-size: 14px;
} */

.search-box {
    width: 400px !important;
}

.bold {
    font-weight: bold;
    color: #ff6e19;
}

.portlet.box > .portlet-title > .caption {
    padding: 11px 0px 9px !important;
}

.participant-img img {
    width: 110px;
    border: 6px solid #eaeaea;
    height: 110px;
    border-radius: 50% !important;
}

.participant-img {
    text-align: center;
}

.cstm-collapse .cstm-collapse-title {
    background-color: #ececec !important;
    margin-top: 0px !important;
}

.portlet .cstm-collapse {
    border: 1px solid #dcdcdc !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    color: #fff;
    box-shadow: none;
    background-color: #ff6e19 !important;
}

.nav-pills > li > a,
.nav-tabs > li > a {
    font-size: 14px;
    color: #000000;
    box-shadow: -1px 3px 13px -4px #d6d6d6;
    border: 1px solid #e8e8e8;
}

.nav-pills > li + li {
    margin-left: 4px !important;
    margin-top: 4px !important;
}

.pe-active-mt {
    margin-top: 4px !important;
}

.box-sub-title {
    color: #122B46;
}

    .box-sub-title .dot-green {
        display: inline-block;
        width: 10px !important;
        height: 10px !important;
        background-color: #73bd10;
        margin-left: 5px;
        margin-right: 5px;
    }

    .box-sub-title .dot-yellow {
        display: inline-block;
        width: 10px !important;
        height: 10px !important;
        background-color: #dacb1c;
        margin-left: 5px;
        margin-right: 5px;
    }

    .box-sub-title .dot-red {
        display: inline-block;
        width: 10px !important;
        height: 10px !important;
        background-color: #ff0000;
        margin-left: 5px;
        margin-right: 5px;
    }

.tbl-head {
    background-color: #ff6e19;
    color: #ffffff;
}

.participant-data-tbl .table .user-pic {
    border-radius: 100% !important;
}

.participant-data-tbl thead tr th {
    text-align: center !important;
}

.participant-data-tbl tbody tr td button {
    display: grid;
    width: 100%;
    margin: 5px 0px;
}

.input-effect {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 6px 6px 13px -6px #ababab;
    border: 1px solid #efefef;
}



#actvityRatingStars {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 0 50px 20px;
}

    #actvityRatingStars li {
        float: left;
        width: 50px;
        height: 1px;
        position: relative;
    }

        #actvityRatingStars li label {
            border: none !important;
            font-size: 45px !important;
            color: #8a8a8a;
            padding: 10px !important;
        }

        #actvityRatingStars li.hover label, #actvityRatingStars li.selected label {
            color: #ff780a;
        }