<section class="portlet-light header-blue">
    <div class="row">
        <div class="col-md-12">
            <div class="caption caption-md">
                <span class="caption-subject box-title"> {{'ORGANIZATIONS_USERS' | translate}} </span>
                <div class="btn-group">
                    <button class="btn dropdown-toggle  btn-cstm" type="button" data-toggle="dropdown" aria-expanded="false">
                        {{selectedOrganization != null?selectedOrganization.name:'-- Select Organization--'}}
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <div class="scroller" style="height: 250px;">
                                <ul class="dropdown-menu-list">
                                    <li ng-click="changeOrganization(organization.id)" ng-repeat="organization in organizations">
                                        <a href="javascript:;"> {{organization.name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="portlet-light">
    <div class="portlet box">
        <div class="row">
            <div class="btn-group">
                <div class="inputs">
                    <div class="portlet-input input-inline">
                        <div class="input-icon right organiztion-search-box">
                            <i class="icon-magnifier"></i>
                            <input type="text" ng-model="searchText" class="form-control form-control-solid input-circle" placeholder="search For User here...">
                        </div>
                    </div>
                </div>
            </div>
            <a href="#/home/organizations/NewUser/{{selectedOrganization.id}}" class="btn btn-cstm pull-right" ng-if="authService.hasPermition(selectedOrganization.id, 'Users', authService.actions.Create);">
                <i class="fa fa-plus" aria-hidden="true"></i> {{'ORGANIZATIONS_NEW_USER' | translate}}
            </a>
        </div>
        <div class="row mt-5">
            <div class="portlet-body">
                <a href="#/home/organizations/userdetail/{{user.organizationId}}/{{user.id}}" ng-repeat="user in users | filter: filterUsers">
                    <div class="col-md-4">
                        <div class="media user-media">
                            <div class="media-left">
                                <img class="media-object" src="{{user.userImage ? user.userImage : 'images/DefaultAvatar.jpg'}}" alt="...">
                            </div>
                            <div class="media-body user-media-detail">
                                <h4 class="media-heading">{{user.firstName}} {{user.lastName}}</h4>
                                <span>{{user.workEmail}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>