<div class="clear">
    <div class="col-md-6">
        <label class="form-cstm-lable">{{'COMMON_HOURS' | translate }}</label>
        <input onfocus="this.type='number';" class="form-control tab-control" ng-model="hours" min="0" placeholder="Hours" ng-readonly="isReadonly" />
    </div>
    <div class="col-md-6">
        <label class="form-cstm-lable">{{'COMMON_MINUTES' | translate }}</label>
        <input onfocus="this.type='number';" class="form-control tab-control" ng-model="minutes" min="0" max="59" placeholder="Minutes" ng-readonly="isReadonly" />
    </div>
</div>
