/* ips-Login*/

#nav-container{
    display:none;
}

#ips-bootstrap-menu {
    display:none;
}

input[type="checkbox"]#signed {
    display:none;
}

input[type="checkbox"]#signed + label span.singed-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #747474;
    vertical-align: middle;
}

input[type="checkbox"]#signed + label span.styled-checkbox {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    cursor:pointer;
    margin-right: 5px;
    background: url('../../images/login-checkbox.png') no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="checkbox"]#signed:checked + label span.styled-checkbox {
    background: url('../../images/login-checkbox-checked.png') no-repeat;
}

.breadcrumb{
    display:none;
}

.glyphicon{
    margin: 9px 0 0 7px;
}

.glyphicon.ips-lock {
    background: url('../../images/icon-password.png') no-repeat;
}

.glyphicon.ips-user {
    background: url('../../images/icon-username.png') no-repeat;
}

.content-container{
    margin-left:0 !important;
    overflow-x: hidden;
}

@media(min-width:768px){
    .content-container{
        margin-left:0;
    }
}

.panel-title {
    background-position: center; 
    height: 234px;
    background-repeat: no-repeat;
    border: 0px solid !important;
    border-radius: 0px;
    padding-top:30px;
    /*margin-bottom: 125px;*/
}

.logo-img{
    margin-right: auto;
    margin-left: auto;
}

.improve-title{
  color: #FF7F00;
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
}


.panel-body {
    background-color:#ffffff;
    border: 2px solid #dddddd;
    border-radius: 5px;
    color: #233038;
    margin-top:10%;
    -webkit-box-shadow: 51px 0px 79px -45px rgba(0,0,0,0.40);
    -moz-box-shadow: 51px 0px 79px -45px rgba(0,0,0,0.45);
    box-shadow: 51px 0px 79px -45px rgba(0,0,0,0.45);
    margin-bottom: 0;  
}

.login-footer {
    margin-top:2%;
    text-align:center;
    margin-bottom:10%;
}

.welcome {
    font-size: 1.5em; /* 27px;*/
    font-family:'Open Sans', sans-serif !important;
    color: #747474;
    vertical-align: middle;
    line-height:29px;
    height:40px
}

.welcome-text {
    height:100%;
    font-size: 0.8em; /*14px;*/
    font-family:'Open Sans', sans-serif !important;
    color: #747474;
    vertical-align: middle;
    line-height:100%;
    height:30px
}

.left-inner-addon {
    position: relative;
    margin-bottom: 15px
}

.left-inner-addon input {
    padding-left: 31px;
}
.left-inner-addon i {
    position: absolute;
    padding: 15px 12px;
    pointer-events: none;
    font-size: 1.2em;
}

#lnkforget {
    float: right;
    margin-right: 5px;
    position: absolute;
    top: 7px;
    right: 0px;
    font-size: 1em;
    color: #449bd3;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#lnkforget:hover {
    color: #4487d3;
    text-decoration: none;
    cursor:pointer;
}

#lnkforget:active{
    color: #449bd3;
}


.left-inner-addon i.round {
border-bottom-left-radius: 7px;    
border-top-left-radius: 7px;
}


.buttons {
    margin-top:10px;
}

.ips-button.primary{
    margin-top:0;
}

.checkbox {
    float:left;
    width:auto;
}

.checkbox label {
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
}

.checkbox label input {
    margin-top: 2px;
    width:20px; 
    height:20px;
}

.login-button{
    width: 16%;
    min-width:60px;
}