<div id="newTrainingNoteWindow">
    <div class="container-fluid">
        <div class="row">
            <form name="trainingNoteForm" novalidate>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input">
                                <label class="control-label"> 1. {{'TRAININGDAIRY_WHAT_IS_YOUR_GOAL_FOR_TRAINING' | translate }}</label>
                                <textarea type="text" class="form-control" ng-model="trainingNote.goal" name="measure" ng-required="true" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input">
                                <label class="control-label">2. {{'TRAININGDAIRY_HOW_WILL_YOU_MEASURE_OUTCOME_OF_TRAINING' | translate }}</label>
                                <textarea type="text" class="form-control" ng-model="trainingNote.measureInfo" name="measure" ng-required="true" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input">
                                <label class="control-label">3. {{'TRAININGDAIRY_HOW_WILL_YOU_SPECIFICALLY_PROCEED' | translate }}</label>
                                <textarea type="text" class="form-control" ng-model="trainingNote.proceedInfo" name="proceed" ng-required="true" />
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="form-group form-md-line-input">
                                <label class="control-label">4. {{'TRAININGDAIRY_OTHER_INFO_OF_IMPORTANCE' | translate }}</label>
                                <textarea type="text" class="form-control" ng-model="trainingNote.otherInfo" name="otherInfo" ng-required="true" />
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <button class="btn btn-cstm primary cancel pull-right" ng-click="closeNewTrainingNote()"  aria-label="Close">{{'COMMON_CANCEL' | translate }}</button>
                    <button class="btn btn-cstm primary pull-right" ng-click="saveTraningNote()" ng-disabled="trainingNoteForm.$invalid" aria-label="Ok">{{'COMMON_SUBMIT' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

