<div>
    <section class="portlet-light header-blue">
        <div class="row">
            <div class="col-md-12">
                <div class="caption caption-md">
                    <span class="caption-subject box-title">
                        <a href="javascript:;">{{'LEFTMENU_ACTIVE_PROFILES' | translate }}</a>
                    </span>
                </div>
            </div>
        </div>
    </section>


    <section class="portlet-light portlet-light-box">
        <div class="row">
            <div class="col-md-12">
                <div class="active-profiles-grid" kendo-grid k-options="activeProfilesOptions"></div>
            </div>
        </div>
    </section>
</div>

<div ui-view></div>
<!--<div pane name="activeProfiles">
    <div class="row">
        <header-navigation page-name="{{'LEFTMENU_ACTIVE_PROFILES' | translate }}"></header-navigation>
        <div class="col-sm-12">
            <div kendo-tab-strip k-content-urls="['../app/views/activeProfiles/views/activeProfilesTab.html', '../app/views/activeProfiles/views/expiredTab.html', '../app/views/activeProfiles/views/kpiTab.html', '../app/views/activeProfiles/views/historyTab.html']">
                <ul>
                    <li class="k-state-active">{{'MYPROFILES_ACTIVE_AND_PENDING_PROFILES' | translate }}</li>
                    <li>{{'MYPROFILES_EXPIRED_PROFILES' | translate }}</li>
                    <li>{{'MYPROFILES_COMPLETED_PROFILES' | translate }}</li>
                    <li>{{'COMMON_HISTORY' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ui-view></div>-->
