@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


.jk-rating-stars-container .button {
    cursor: pointer;
}

    .jk-rating-stars-container .button .material-icons {
        font-size: 30px;
    }

.jk-rating-stars-container .star-button {
    text-shadow: 0.06em .04em #000000;
}

    .jk-rating-stars-container .star-button.star-on .material-icons {
        color: #EE9A00;
    }

    .jk-rating-stars-container .star-button.star-off .material-icons {
        color: #ddd;
    }

.jk-rating-stars-container[read-only="true"] .button {
    cursor: default;
}



