<div kendo-window="trainingsSearchWindow" k-actions="['Maximize','Close']" k-modal="true" k-width="1400" k-visible="false"
      k-title="'{{'TRAININGDAIRY_TRAININGSEARCHPOPUP_TRAINING_SEARCH' | translate }}'" k-on-close="cancelSearchWindow()">
    <div class="col-md-8">
        <div kendo-grid="searchTrainingsGrid" k-options="searchGridOptions" k-rebind="trainings" class="searchTrainingGrid"></div>
    </div>
    <div class="col-md-3 kpi-right-column">
        <div class="kpi-filter-group">
            <div class="profiles-menu">
                <img src="images/icon-view.png" />
                <span>{{'COMMON_SEARCH' | translate }}</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control filter" ng-model="filter.searchText" ng-change="fiterOrganizationChanged()" />
            </div>
        </div>
        <div class="filter-group kpi-margin-top20">
            <div class="form-group">
                <label class="ips-label">{{'COMMON_ORGANIZATION' | translate }}</label>
                <select class="form-control kpi-height20" ng-model="filter.organizationId" ng-options="obj.id as obj.name for obj in organizations" ng-change="fiterOrganizationChanged()"></select>
            </div>
            <div class="form-group">
                <label class="ips-label">{{'COMMON_PROFILE_LEVEL' | translate }}</label>
                <select class="form-control kpi-height20" ng-model="filter.profileLevelId" ng-options="profileLevel.id as profileLevel.name for profileLevel in profileLevels" ng-change="doFilter()"></select>
            </div>
            <div class="form-group">
                <label class="ips-label">{{'COMMON_TARGET_GROUP' | translate }}</label>
                <select class="form-control " ng-model="filter.jobPositionId" ng-options="targetGroup.id as targetGroup.jobPosition1 for targetGroup in targetGroups" ng-change="doFilter()"></select>
            </div>
            <div class="form-group">
                <input type="checkbox" data-ng-model="filter.isShowActive" ng-change="doFilter()">{{'COMMON_SHOW_ACTIVE_TRAININGS' | translate }}
            </div>
            <div class="form-group">
                <input type="checkbox" data-ng-model="filter.isShowInactive" ng-change="doFilter()">{{'COMMON_SHOW_INACTIVE_TRAININGS' | translate }}
            </div>
            <div class="form-group">
                <input type="checkbox" data-ng-model="filter.isTemplate" ng-change="doFilter()">{{'COMMON_SHOW_TEMPLATES_ONLY' | translate }}
            </div>

            <div class="form-group">
                <label class="ips-label">{{'COMMON_LEVEL' | translate }}</label>
                <select class="form-control kpi-height20" data-ng-model="filter.trainingLevelId" data-ng-options="obj.id as obj.name for obj in trainingLevels" ng-change="doFilter()"></select>
            </div>
            <div class="form-group">
                <label class="ips-label">{{'COMMON_PERFORMANCE_GROUP' | translate }}</label>
                <!--<select class="form-control kpi-height20" data-ng-model="filter.performanceGroupName" ng-options="obj as obj for obj in performanceGroups | unique:'name'" ng-change="performanceGroupChanged()"></select>-->
                <select class="form-control kpi-height20" data-ng-model="filter.performanceGroupId" ng-options="obj.id as (obj.name + ' - (' + obj.profile.name +')') for obj in performanceGroups" ng-change="doFilter()"></select>
            </div>
            <div class="form-group">
                <label class="ips-label">{{'COMMON_TYPE' | translate }}</label>
                <select class="form-control kpi-height20" data-ng-model="filter.trainingTypeId" data-ng-options="obj.id as obj.name for obj in trainingTypes" ng-change="doFilter()"></select>
            </div>
            <div class="form-group">
                <label class="ips-label" for="description">{{'COMMON_SKILL' | translate }}</label>
                <select class="form-control" data-ng-model="filter.skillId" ng-options="obj.id as obj.name  for obj in skills" ng-change="doFilter()"></select>

            </div>
            <div class="form-group">
                <label class="ips-label">{{'COMMON_INDUSTRY' | translate }}</label>
                <select class="form-control " ng-model="filter.industryId" ng-options="industry.id as industry.name for industry in industries" ng-change="doFilter()"></select>
            </div>
        </div>
        <button class="btn btn-cstm primary cancel pull-right" ng-click="cancelSearchWindow()">{{'COMMON_CANCEL' | translate }}</button>
        <button class="btn btn-cstm primary cancel pull-right" ng-disabled="searchAddDisabled" ng-click="addSelectedTrainings()">{{'COMMON_ADD_SELECTED_TRAININGS' | translate }}</button>
        <button class="btn btn-cstm primary cancel pull-right" ng-click="clearFilter()">{{'COMMON_CLEAR_FILTER' | translate }}</button>
    </div>
</div>