<div ng-init="init()" pane name="final-kpi">
    <div>
        <div class="row">
            <header-navigation page-name="{{'MYPROFILES_FINAL_KPI' | translate }}"></header-navigation>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="top-info">
                            <div class="icon-brain"></div>
                            <div class="description">{{'MYPROFILES_FINAL_KPI' | translate }}</div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="content-border content-border-left remove-scroll">
                            <div class="pull-left">
                                <img class="info-icon" src="images/info-icon.png" />
                            </div>
                            <div class="pull-left">
                                <span class="submit-info display-block margin-top-10">{{'MYPROFILES_HERE_YOU_CAN_SEE_THE_FINAL_PROFILE' | translate }}</span>
                                <a href="javascript:void(0)" ng-show="hasDevContract" style="color:#ff6e19;" ng-click="goToTrainingDiary()">
                                    {{'COMMON_VIEW' | translate }}
                                    {{'MYPROFILES_THE_TRAINING_DIARY' | translate }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 content-border content-border-left content-border-right">
                        <div class="rank-panel">
                            <div class="rank correct"></div>
                            <div class="rank-label">{{'MYPROFILES_CORRECT' | translate }}</div>

                            <div class="rank wrong"></div>
                            <div class="rank-label">{{'MYPROFILES_WRONG' | translate }}</div>

                            <div class="rank not-available"></div>
                            <div class="rank-label">{{'MYPROFILES_NOT_AVAILABLE' | translate }} ({{'MYPROFILES_EVALUATOR_HASNT_JUDGE_THE_FREE_TEXT_ANSWER' | translate }})</div>
                        </div>

                        <table class="table result-table">
                            <tr class="table-header">
                                <th>#</th>
                                <th width="10%">{{'COMMON_SKILL' | translate }}</th>
                                <th width="10%">{{'COMMON_PERFORMANCE_GROUP' | translate }}</th>
                                <th width="15%">{{'MYPROFILES_QUESTION' | translate }}</th>
                                <th>{{'MYPROFILES_POINTS' | translate }}</th>
                                <th width="10%">{{'MYPROFILES_ANSWER' | translate }}</th>
                                <th ng-click="changeRankSorting()">{{'MYPROFILES_RANK' | translate }}</th>
                                <th width="15%">{{'MYPROFILES_ACTIONS_AND_TRAININGS' | translate }}</th>
                            </tr>
                            <tr ng-repeat-start="item in finalKPIData">
                                <td class="answer-number">{{$index+1}}</td>
                                <td>{{item.skillNames}}</td>
                                <td>{{item.performanceGroupName}}</td>
                                <td>
                                    <div>{{item.questionText}}</div>
                                    <div class="row">
                                        <question-material-view material="item.questionMaterial"></question-material-view>
                                    </div>
                                </td>
                                <td>{{item.points}}</td>
                                <td>
                                    <div class="row" style="pointer-events: none;" ng-if="isAnswerCellAvailable(item)">
                                        <answer type="item.answerTypeId"
                                                possible-answers="item.possibleAnswers"
                                                user-answer="item.answer"
                                                single-choice-radio-group-id="item.questionId">
                                        </answer>
                                    </div>
                                </td>
                                <td>
                                    <div class="answer-mark"
                                         ng-class="{'not-available': !item.isAvailable, 'correct': item.isCorrect, 'wrong': !item.isCorrect }"></div>
                                </td>
                                <td>
                                    <div class="row" style="pointer-events: none;">
                                        <textarea class="form-control" rows="3" ng-model="item.comment"></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="item.agreement.trainings.length > 0">
                                <th class="no-border"></th>
                                <th class="trainings-title">{{'MYPROFILES_TRAININGS' | translate }}</th>
                            </tr>
                            <tr ng-show="item.agreement.trainings.length > 0">
                                <th class="no-border"></th>
                                <th class="first-training-header" colspan="2">{{'COMMON_NAME' | translate }}</th>
                                <th>{{'COMMON_START' | translate }}</th>
                                <th>{{'COMMON_END' | translate }}</th>
                                <th>{{'COMMON_DURATION' | translate }}</th>
                            </tr>
                            <tr ng-repeat-end="" ng-show="item.agreement.trainings.length > 0"
                                ng-repeat="training in item.agreement.trainings">
                                <td class="no-border"></td>
                                <td class="training-body" colspan="2">
                                    {{training.name}}
                                </td>
                                <td class="training-body">
                                    {{getDate(training.startDate)}}
                                </td>
                                <td class="training-body">
                                    {{getDate(training.endDate)}}
                                </td>
                                <td class="training-body no-wrap-normal">
                                    {{getTrainingDuration(training)}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>