
.final-kpi {
    border: 1px solid #f2f1f7;
    display: table;
    width: 98%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.info-icon {
    margin: 10px;
}

.top-info {
    margin: 0;
    background-color: #f2f1f7;
    height: 30px;
    display: flex;
}

.top-info .icon-brain {
    background-color: #f2f1f7;
    background: url(../../images/brain-icon.png) no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.top-info .description {
    font-size: 16px;
    line-height: 31px;
    color: #848181;
    display: inline-block;
    margin-left: 10px;
}

.ips-button.primary.submit-button {
    margin-top: 10px;
    margin-left: 15px;
}

.content-border {
    overflow-x: scroll;
    position: relative;
}

.content-border.content-border-left {
    border-left: 1px solid #dddddd;
}

.content-border.content-border-right {
    border-right: 1px solid #dddddd;
}

.rank-panel {
    margin: 0;
    background-color: #f1f1f1;
    height: 30px;
    display: flex;
}

.rank-panel .include-all-questions {
    margin-left: auto;
    margin-right: 10px;
}

.rank-panel .rank-label {
    font-size: 14px;
    line-height: 1.5;
    color: #b6b6b6;
    display: inline-block;
    margin-top: 5px;
}

.rank-panel .rank {
    border-radius: 20px;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin: 8px 5px 0 10px
}

.rank-panel .rank.correct {
    background-color: #22b14c;
}

.rank-panel .rank.wrong {
    background-color: #ed1c24;
}

.rank-panel .rank.not-available {
    background-color: #969696;
}

.result-table {
    margin: 0;
}

.answer-mark {
    height: 30px;
    width: 30px;
    padding: 0;
    background-color: white;
    border-radius: 15px !important;
}

.answer-mark.wrong {
    background-color: #ed1c24;
}

.answer-mark.correct {
    background-color: #22b14c;
}

.answer-mark.not-available {
    background-color: #969696;
}

.margin-top-10 {
    margin-top: 10px;
}

.display-block {
    display: block;
}