<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ProfileUploadFolder" value="C:/inetpub/wwwroot/IPS_8051/IPS.Web/App/images/Upload/Profile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="smsAccountSid" value="ACb3afbad690a5124d08bc28bbf99c011a" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="smsAuthToken" value="fca3a4a88f1fc5ac62f5c01aad289711" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="smsMobileNumber" value="+1234567890" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="surveyUrl" value="https://localhost:8477/app/#/home/activeProfiles/survey" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ktSurveyUrl" value="https://localhost:8477/app/#/home/activeProfiles/knowledgetest_survey" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FileStorageRoot" value="C:\IPS.FileStorage\8051" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="IdentityConnection" connectionString="Data Source=localhost;database=IPSSecurity;Integrated Security=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="IPSData" connectionString="metadata=res://*/IPSData.csdl|res://*/IPSData.ssdl|res://*/IPSData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=IPSv5.1_Dev;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="IPS" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;initial catalog=IPSv5.1_Dev;Integrated Security=True;MultipleActiveResultSets=True;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <mailSettings>
    <smtp_1 deliveryMethod="Network" from="improveperformancesystems2@gmail.com" xdt:Transform="Replace">
      <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="improveperformancesystems2@gmail.com" password="IPTS2017" enableSsl="true" />
    </smtp_1>
  </mailSettings>
</configuration>