<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div id="loginbox">
            <div class="panel-title">
                <img src="images/logo.png" class="img-responsive logo-img" />
            </div>
            <div class="panel-body">
                <div class="welcome">
                    {{'LOGIN_FORGOTPASSWORD_RESTORE_PASSWORD' | translate }}
                </div>
                <div class="welcome-text">
                    {{'LOGIN_FORGOTPASSWORD_ENTER_USERNAME_AND_PRESS_SUBMIT' | translate }}
                </div>
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform" class="form-horizontal" role="form">

                    <div class="left-inner-addon">
                        <i class="glyphicon ips-user"></i>
                        <input id="login-username" type="text" class="form-control  lowered" name="username" value="" placeholder="{{'LOGIN_FORGOTPASSWORD_USERNAME' | translate }}" data-ng-model="userName" ng-change="messageClean();" required autofocus />
                        <a id="lnkforget" class="hyperlink" href="#/login">{{'LOGIN_FORGOTPASSWORD_BACK_TO_LOGIN' | translate }}</a>
                    </div>
                    <div data-ng-hide="info == ''" class="alert alert-info">
                        {{info}}

                    </div>
                    <div data-ng-hide="message == ''" class="alert alert-danger">
                        {{message}}
                    </div>
                    <div class="form-group buttons">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button class="btn btn-cstm primary login-button pull-right" ng-enter="sendMail();" data-ng-click="sendMail()">{{'COMMON_SUBMIT' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>

</div>
    
    
    
