@charset "utf-8";
/* CSS Document */



.tabHead th {
    font-family: helvetica !important;
    color: #000 !important;
    padding: 12px 3px !important;
}

.newtbody tr td {
    padding: 6px 2px !important;
}

.tab_view, .tab_edit, .tab_delete {
  background-color: rgb(10, 135, 203);
    color: rgb(255, 255, 255) !important;
    border-radius: 3px;
    font-size: 13px;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 37px;
    border: 0px;
    vertical-align: middle;
	padding: 0;
	
}

.tab_view
{
background-color: rgb(218, 153, 20);
}

.tab_delete {
    background-color: rgb(230, 49, 49);
}

.tab_view i, .tab_edit i, .tab_delete i {
    font-size: 20px;
}

.tab_view:hover, .tab_edit:hover, .tab_delete:hover 
{
box-shadow:0px 2px 3px #666;
}




.newForm label {
    font-size: 12px;
    font-weight: 500;
    color: rgb(153, 153, 153);
}


.newForm input {
   border: 1px solid #D8D8D8 !important;
box-shadow: unset !important;
font-size: 13px !important;
color: #717171 !important;
}

.newForm textarea {
    border: 1px solid #D8D8D8 !important;
    box-shadow: unset !important;
    font-size: 13px !important;
    color: #717171 !important;
    resize: none;
}

.newForm select {
    border: 1px solid #D8D8D8 !important;
    box-shadow: unset !important;
    font-size: 13px !important;
    color: #717171 !important;
    /*background-image: url('views/organization/img/downArrow.png');*/
    background-repeat: no-repeat;
    background-position: 98% 47%;
    background-size: 13px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}


.btnAdd {
    border: 1px solid rgb(255, 110, 25);
    padding: 6px 50px;
    background: none;
    background-color: #FF6E19;
    color: #fff !important;
}

.btnAdd:hover, .btnclose:hover {
    box-shadow: 0px 2px 3px #666;
}

.btnclose {
    background-color: #245D8F;
    border: 1px solid #245D8F;
    margin-left: 15px;
    height: 34px;
    color: #fff !important;
}


@media(min-width:300px) and (max-width:767px)
{
.responsiveMrgn
 {
  margin-bottom: 46px;
 }
}





